<h1>Bloggers show page</h1>
<p>Name: <%=@blogger.name%><p><br>
<p>Age: <%=@blogger.age%><p><br>
<p>Bio: <%=@blogger.bio%><p><br> 


<% total_like = 0%>

<% @blogger.posts.each do |post| %>
  <% total_like += post.likes  %>
  <% end %>

  <p> Total Likes: <%= total_like %><p>
